body {
	&:not(.home) {
		position: relative;
		&.page-on-down {
			&::before {
				position: absolute;
				background-position: center calc(100% - 3rem);
				background-size: auto 4rem;
				filter: blur(1px);
				opacity: 1;
			}
		}
		&::before {
			transition: background .3s;
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../img/logo/logo-bg.svg);
			background-size: 90% auto;
			opacity: .1;
		}
		.body {
			position: relative;
			padding-bottom: 10rem;
		}
	}
}

body.home {
	min-height: 100vh;
	background: $gray-900;
	display: flex;
	flex-direction: column;
	justify-content: center;
}