.hover-zoom	{
	display: block;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .2s;
		opacity: 0;
		background-color: $black;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath fill='#ffffff' d='M908.1,908 91.9,908 91.9,550 0,550 0,1000 1000,1000 1000,550 908.1,550z M91.9,91.9 908.1,91.9 908.1,458.1 1000,458.1 1000,0 0,0 0,458.1 91.9,458.1z '/%3E%3C/svg%3E");
	}
	&:hover {
		&::after {
			opacity: .25;
			background-size: 20% 20%;
		}
	}
}