b,
strong {
	font-weight: $font-weight-bold;
}
blockquote {
	@extend .blockquote;
}
.alignleft {
	float: left;
	margin: .25em 1em .25em 0;
}
.alignright {
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter {
	display: block;
	margin: auto;
}


// gallery
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -($grid-gutter-width / 4);
	margin-right: -($grid-gutter-width / 4);
	margin-top: $spacer * 1;
	margin-bottom: $spacer * 1;
	&>br {
		display: none;
	}
}
@for $i from 1 through 9 {
	&.gallery-columns-#{$i} .gallery-item {
		width: percentage(1/$i);
	}
}
.gallery-item {
	display: block;
	width: 50%;
	padding: ($grid-gutter-width / 4);
	@include media-breakpoint-only(sm) {
		[class*=gallery-columns-] & {
			width: 33.3333%;
		}
	}
	@include media-breakpoint-only(xs) {
		[class*=gallery-columns-] & {
			width: 50%;
		}
	}
}
.gallery-icon {
	display: block;
	a {
		display: block;
		position: relative;
		overflow: hidden;
		&:before {
			content: '+';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transition: .1s;
			opacity: 0;
			font-size: 0rem;
			color: $body-bg;
			text-align: center;
			line-height: 50rem;
			height: 50rem;
			width: 50rem;
			margin: -25rem 0 0 -25rem;
		}
		&:hover {
			&:before {
				opacity: 1;
				background-color: rgba($primary,.5);
				font-size: $font-size-base * 3;
			}
		}
	}
	img {
		min-width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.wp-caption-text {
	font-size: $font-size-sm;
	color: $gray-600;
	text-align: center;
}



// wpcf7
.wpcf7-form-control-wrap {
	display: block;
}
.screen-reader-response {
	@extend .sr-only;
}
.wpcf7-not-valid-tip {
	color: $danger;
}
.wpcf7-response-output {
	@extend .alert;
}
.wpcf7-validation-errors {
	@extend .alert-danger;
}
.wpcf7-mail-sent-ng {
	@extend .alert-warning;
}
.wpcf7-mail-sent-ok {
	@extend .alert-success;
}

.ajax-loader {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1rem;
	opacity: 0;
	animation: rotating 1s linear infinite;
	&::before {
		font-family: "Ionicons";
		content: '\f366';
		font-size: 2rem;
		color: $light;
	}
	&.is-active {
		opacity: 1;
	}
}

@-webkit-keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
