// Color system
$white:    #fff !default;
$gray-100: #eee !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #aaa !default;
$gray-600: #888 !default;
$gray-700: #666 !default;
$gray-800: #444 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$color-base: adjust-hue(#D21739, 240deg) !default;
$blue:    adjust-hue($color-base, 0deg) !default;
$indigo:  adjust-hue($color-base, 30deg) !default;
$purple:  adjust-hue($color-base, 60deg) !default;
$pink:    adjust-hue($color-base, 90deg)!default;
$red:     adjust-hue($color-base, 120deg) !default;
$orange:  adjust-hue($color-base, 150deg) !default;
$yellow:  adjust-hue($color-base, 180deg) !default;
$green:   adjust-hue($color-base, 240deg) !default;
$teal:    adjust-hue($color-base, 300deg) !default;
$cyan:    adjust-hue($color-base, 330deg) !default;


$primary:       $gray-500 !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-300 !default;
$dark:          $gray-700 !default;

// Options
$enable-rounded:            false !default;

// Fonts
$font-family-sans-serif:      'Nunito',sans-serif !default;
$font-size-base:              1.1rem !default;
$font-weight-light:           300 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;

// Grid breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
  xs: 440px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Links
$link-color:                $primary !default;
$link-decoration:           underline !default;
$link-hover-color:          darken($primary, 15%) !default;
$link-hover-decoration:     none !default;

// Breadcrumbs
$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .75rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          $primary !default;
$breadcrumb-active-color:           $primary !default;
$breadcrumb-divider:                "\2014" !default;




// Modals
$modal-dialog-margin:         0 !default;
$modal-dialog-margin-y-sm-up: 0 !default;




// Close
$close-font-size:                   $font-size-base * 1.75 !default;
$close-font-weight:                 $font-weight-normal !default;